nav {
  animation: nav-shadown 1s linear both;
  animation-timeline: scroll();
  animation-range: 0 100px;
}

nav {
  @apply dark:bg-gray-800/90 bg-white/50;
}

@keyframes nav-shadown {
  0% {
    @apply dark:bg-gray-800/0 bg-white/0;
  }
  to {
    @apply shadow-lg ring-1 backdrop-blur ring-white/10;
  }
}