---
import Contact from "./Contact.astro";
import Diplomas from "./Diplomas.astro";
import PersonalDescription from "./PersonalDescription.astro";

PersonalDescription;
---

<section class="grid grid-cols-1 sm:grid-cols-2 gap-4 max-sm:mx-5">
  <div class="flex items-center">
    <PersonalDescription />
    
  </div>

  <div class="flex flex-col h-full">
<!--  -->


    <div class=" flex-grow">
      <Contact />
    </div>

    <hr class="my-5 bg-gray-500 border-0 dark:bg-gray-500 h-px">

    
    <div>
      <Diplomas />
    </div>
  </div>
</section>

<!-- <section  class="grid grid-cols-1 max-sm:mx-5">
  <PersonalDescription />
  <hr class="my-5">

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div class="flex justify-center">
      <Diplomas />

    </div>
    <div class="flex justify-center">
      <Contact />


</section> -->