<div class="flex items-center max-sm:justify-center ">
  <span class="relative inline-flex overflow-hidden rounded-full p-[1px] shadow-sm">
    <span
      class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] dark:bg-[conic-gradient(from_90deg_at_50%_50%,#60a5fa_0%,#0a0a0a_50%,#60a5fa_100%)] bg-[conic-gradient(from_90deg_at_50%_50%,#60a5fa_0%,#f5f5f5_50%,#60a5fa_100%)]"
    ></span>
    <div class="inline-flex items-center justify-center w-full px-4 py-2 text-sm max-sm:text-xl text-gray-900 bg-gray-100 rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap">
      <slot />
    </div>
  </span>
  </div>