---
import House from "@/assets/icons/house.astro";
import Phone from "@/assets/icons/Phone.astro";
import WhatsApp from "@/assets/icons/WhatsApp.astro";
import Linkedln from "@/assets/icons/Linkedln.astro";
import Email from "@/assets/icons/Email.astro";

Linkedln;
---

<div class="text-gray-800 dark:text-gray-100 space-y-3">
  <h1 class="text-3xl font-medium text-blue-400">Contactame:</h1>

  <div class="flex">
    <House />
    <p>&nbsp; Chilpancingo, Guerrero, México</p>
  </div>

  <div class="flex">
    <Phone />
    <p>&nbsp; +52 (747) 105-7822</p>
  </div>

  <div class="flex space-x-3">
    <button class="text-sky-400">
      <Linkedln />
    </button>
    <button class="text-green-400">
      <WhatsApp />
    </button>
    <button class="text-yellow-600">
      <Email />
    </button>
    
  </div>
</div>


<style>
  button {
    transform: scale(1.25); /* Escala al 125% */
    transition: transform 0.2s; /* Transición suave al escalar */
  }

  button:hover {
    filter: brightness(1.25); /* Aumenta el brillo al 125% al hacer hover */
  }
</style>
