---
import CardDiploma from "./CardDiploma.astro";

CardDiploma;
---

<div class="text-gray-800 dark:text-gray-100 space-y-3">
  <h1 class="text-3xl font-medium text-blue-400">
    Certificaciones y diplomas:
  </h1>

  <div class="grid grid-cols-2 sm:grid-cols-2 gap-4 h-full">
    <CardDiploma
      title="Curso de introducción al desarrollo web: HTML y CSS (1/2)"
      subtitle="Google Digital Academy"
      href="https://skillshop.exceedlms.com/student/award/bjP8PxeDJbf6v8Vyccdg8VsW"
    />

    <CardDiploma
      title="Curso de introducción al desarrollo web: HTML y CSS (2/2)"
      subtitle="Google Digital Academy"
      href="https://skillshop.exceedlms.com/student/award/5GiZ1K97HXiDMymHvmQj3y6G"
    />

    <CardDiploma
      title="JavaScript Essentials 1"
      subtitle="Cisco"
      href="https://www.credly.com/badges/2b94e0e2-3f0f-42aa-aa23-521236fb2104/linked_in_profile"
    />

    <CardDiploma
      title="React: De cero a experto ( Hooks y MERN )"
      subtitle="Fernando Herrera"
      href="https://www.udemy.com/certificate/UC-c609d142-2736-44d5-9616-ad9b56d5b18f/"
    />

    <CardDiploma
      title="Master en Lógica de Programación: Pruebas Técnicas de Código"
      subtitle="Victor Robles"
      href="https://www.udemy.com/certificate/UC-c33c5f1e-438f-488d-9fd5-f30a557e209d/"
    />

    <CardDiploma
    title="Scrum desde cero"
    subtitle="EDteam"
    href="https://app.ed.team/u/tonofalco/curso/scrum"
  />
  </div>
</div>

<style></style>
