---
const personalImageAlt = "Antonio Castillo";
import Badge from "@/components/Badge.astro";
import Linkedln from "../assets/icons/Linkedln.astro";
import Mail from "../assets/icons/Mail.astro";
import SocialPill from "./SocialPill.astro";
import Github from "@/assets/icons/Github.astro";

import perfilImage from '../assets/img/perfil-miidt.webp';

---

<section class="grid grid-cols-1 sm:grid-cols-3 gap-3 max-sm:text-center max-sm:mb-4">
  <div class="col-span-2 max-sm:order-2">
    <h1 class="font-bold text-5xl max-sm:mt-10 text-gray-800 dark:text-white">
      Antonio Castillo
    </h1>

    <p
      class="my-10 text-2xl text-gray-800 [&>strong]:text-blue-400 [&>strong]:font-semibold dark:text-gray-300"
    >
      <strong>Ingeniero en Computación, Front-End Developer</strong>.
      Especializado en el desarrollo de aplicaciones web, en busca de nuevas
      oportunidades laborales.
    </p>

    <div
      class="flex flex-col sm:flex-row items-center justify-center sm:justify-between"
    >
      <div class="order-2 sm:order-1">
        <SocialPill>Descargar CV</SocialPill>
      </div>

      <div class="flex gap-4 order-1 sm:order-2 max-sm:mb-4">
        <SocialPill href="https://www.linkedin.com/in/tonof/">
          <Linkedln class="size-4" />
          LinkedIn
        </SocialPill>

        <SocialPill href="https://github.com/tonofalco">
          <Github class="size-4" />
          Github
        </SocialPill>
      </div>
    </div>
  </div>

  <div class="flex justify-center items-center max-sm:order-1 max-sm:mt-10">
    <img
      class="p-1 w-72 md:p-2 rounded-full bg-black/10 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
      style="object-position: 50% 50%"
      src="/img/perfil-miidt.webp"

      alt={personalImageAlt}
    />
  </div>
</section>
