---
import React from "@/assets/icons/React.astro";

import CardProject from "./CardProject.astro";
import Bootstrap from "@/assets/icons/Bootstrap.astro";
import Javascript from "@/assets/icons/Javascript.astro";
import LinkButton from "@/components/LinkButton.astro";
import Github from "@/assets/icons/Github.astro";
import Link from "@/assets/icons/Link.astro";

CardProject;
---

<section class="grid grid-cols-1 sm:grid-cols-2 gap-4 max-sm:mx-5">
  <CardProject
    title="Aplicacion web"
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a lacus justo. Sed nec tempor liberoisus."
    img="https://images.unsplash.com/photo-1595239244990-b609da3d95f2?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHwxfHxkYXRhJTNBaW1hZ2UlMkZibXAlM0JiYXNlNjQlMkNRazMyQkFBQUFBQUFBRFlBQUFBb0FBQUFDQUFBQUFnQUFBQUJBQmdBQUFBQUFNQUFBQUFUQ3dBQUV3c0FBQUFBQUFBQUFBQUFvWnRhbnBaTm9aTTR0S05KeTd0dzBjV0Z1clYlMkZpcEJqcDZSMW41dGtsSTQlMkZvWmxLdkxWNXlNT1R0TFNLaFl0Z3I2Mk1vYUY1aUl0Tmk1RlRxN0NJdnNLa3I3T1dnSVpkdGJPYXBhYUhobzVnaEpKbnBMS1l1Y1N5ckxTZ2ZvVmZ0N1dkcXF1T2s1bDBrcDklMkZyTHFudk1pN3JiYW1nSWRtdDdPWHNLMlBwYWFGckxHV3ZzYTB4YzYlMkZzYm1vaG8xdXRiQ1BzNiUyQk50YkdSd0wlMkJsenRDOHp0TEJ0cnlwaTVKMXRLJTJCTHRhJTJCTXVyV1Z5TVdxMU5TJTJGMGRUQnVMMm9qcFIzfGVufDB8MHx8fDE3MjM0MDU0MTR8MA&ixlib=rb-4.0.3&q=80&w=1080"
    linkGithub="https://www.google.com/"
    linkPreview="https://www.google.com/"
    >
    <div slot="tools">
      <div class="flex flex-wrap items-center space-x-3">
        <div class="w-6 h-6">
          <React />
        </div>
        <div class="w-6 h-6">
          <Javascript />
        </div>
        <div class="w-8 h-8">
          <Bootstrap />
        </div>
      </div>
    </div>
  </CardProject>

  <CardProject
    title="Aplicacion web"
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a lacus justo. Sed nec tempor liberoisus."
    img="https://images.unsplash.com/photo-1595239244990-b609da3d95f2?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHwxfHxkYXRhJTNBaW1hZ2UlMkZibXAlM0JiYXNlNjQlMkNRazMyQkFBQUFBQUFBRFlBQUFBb0FBQUFDQUFBQUFnQUFBQUJBQmdBQUFBQUFNQUFBQUFUQ3dBQUV3c0FBQUFBQUFBQUFBQUFvWnRhbnBaTm9aTTR0S05KeTd0dzBjV0Z1clYlMkZpcEJqcDZSMW41dGtsSTQlMkZvWmxLdkxWNXlNT1R0TFNLaFl0Z3I2Mk1vYUY1aUl0Tmk1RlRxN0NJdnNLa3I3T1dnSVpkdGJPYXBhYUhobzVnaEpKbnBMS1l1Y1N5ckxTZ2ZvVmZ0N1dkcXF1T2s1bDBrcDklMkZyTHFudk1pN3JiYW1nSWRtdDdPWHNLMlBwYWFGckxHV3ZzYTB4YzYlMkZzYm1vaG8xdXRiQ1BzNiUyQk50YkdSd0wlMkJsenRDOHp0TEJ0cnlwaTVKMXRLJTJCTHRhJTJCTXVyV1Z5TVdxMU5TJTJGMGRUQnVMMm9qcFIzfGVufDB8MHx8fDE3MjM0MDU0MTR8MA&ixlib=rb-4.0.3&q=80&w=1080"
    linkGithub="https://www.google.com/"
    linkPreview="https://www.google.com/"
    >
    <div slot="tools">
      <div class="flex flex-wrap items-center space-x-3">
        <div class="w-6 h-6">
          <React />
        </div>
        <div class="w-6 h-6">
          <Javascript />
        </div>
        <div class="w-8 h-8">
          <Bootstrap />
        </div>
      </div>
    </div>
  </CardProject>

  <CardProject
    title="Aplicacion web"
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a lacus justo. Sed nec tempor liberoisus."
    img="https://images.unsplash.com/photo-1595239244990-b609da3d95f2?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHwxfHxkYXRhJTNBaW1hZ2UlMkZibXAlM0JiYXNlNjQlMkNRazMyQkFBQUFBQUFBRFlBQUFBb0FBQUFDQUFBQUFnQUFBQUJBQmdBQUFBQUFNQUFBQUFUQ3dBQUV3c0FBQUFBQUFBQUFBQUFvWnRhbnBaTm9aTTR0S05KeTd0dzBjV0Z1clYlMkZpcEJqcDZSMW41dGtsSTQlMkZvWmxLdkxWNXlNT1R0TFNLaFl0Z3I2Mk1vYUY1aUl0Tmk1RlRxN0NJdnNLa3I3T1dnSVpkdGJPYXBhYUhobzVnaEpKbnBMS1l1Y1N5ckxTZ2ZvVmZ0N1dkcXF1T2s1bDBrcDklMkZyTHFudk1pN3JiYW1nSWRtdDdPWHNLMlBwYWFGckxHV3ZzYTB4YzYlMkZzYm1vaG8xdXRiQ1BzNiUyQk50YkdSd0wlMkJsenRDOHp0TEJ0cnlwaTVKMXRLJTJCTHRhJTJCTXVyV1Z5TVdxMU5TJTJGMGRUQnVMMm9qcFIzfGVufDB8MHx8fDE3MjM0MDU0MTR8MA&ixlib=rb-4.0.3&q=80&w=1080"
    linkGithub="https://www.google.com/"
    linkPreview="https://www.google.com/"
    >
    <div slot="tools">
      <div class="flex flex-wrap items-center space-x-3">
        <div class="w-6 h-6">
          <React />
        </div>
        <div class="w-6 h-6">
          <Javascript />
        </div>
        <div class="w-8 h-8">
          <Bootstrap />
        </div>
      </div>
    </div>
  </CardProject>

  <CardProject
    title="Aplicacion web"
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a lacus justo. Sed nec tempor liberoisus."
    img="https://images.unsplash.com/photo-1595239244990-b609da3d95f2?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHwxfHxkYXRhJTNBaW1hZ2UlMkZibXAlM0JiYXNlNjQlMkNRazMyQkFBQUFBQUFBRFlBQUFBb0FBQUFDQUFBQUFnQUFBQUJBQmdBQUFBQUFNQUFBQUFUQ3dBQUV3c0FBQUFBQUFBQUFBQUFvWnRhbnBaTm9aTTR0S05KeTd0dzBjV0Z1clYlMkZpcEJqcDZSMW41dGtsSTQlMkZvWmxLdkxWNXlNT1R0TFNLaFl0Z3I2Mk1vYUY1aUl0Tmk1RlRxN0NJdnNLa3I3T1dnSVpkdGJPYXBhYUhobzVnaEpKbnBMS1l1Y1N5ckxTZ2ZvVmZ0N1dkcXF1T2s1bDBrcDklMkZyTHFudk1pN3JiYW1nSWRtdDdPWHNLMlBwYWFGckxHV3ZzYTB4YzYlMkZzYm1vaG8xdXRiQ1BzNiUyQk50YkdSd0wlMkJsenRDOHp0TEJ0cnlwaTVKMXRLJTJCTHRhJTJCTXVyV1Z5TVdxMU5TJTJGMGRUQnVMMm9qcFIzfGVufDB8MHx8fDE3MjM0MDU0MTR8MA&ixlib=rb-4.0.3&q=80&w=1080"
    linkGithub="https://www.google.com/"
    linkPreview="https://www.google.com/"
    >
    <div slot="tools">
      <div class="flex flex-wrap items-center space-x-3">
        <div class="w-6 h-6">
          <React />
        </div>
        <div class="w-6 h-6">
          <Javascript />
        </div>
        <div class="w-8 h-8">
          <Bootstrap />
        </div>
      </div>
    </div>
  </CardProject>

  <CardProject
    title="Aplicacion web"
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a lacus justo. Sed nec tempor liberoisus."
    img="https://images.unsplash.com/photo-1595239244990-b609da3d95f2?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHwxfHxkYXRhJTNBaW1hZ2UlMkZibXAlM0JiYXNlNjQlMkNRazMyQkFBQUFBQUFBRFlBQUFBb0FBQUFDQUFBQUFnQUFBQUJBQmdBQUFBQUFNQUFBQUFUQ3dBQUV3c0FBQUFBQUFBQUFBQUFvWnRhbnBaTm9aTTR0S05KeTd0dzBjV0Z1clYlMkZpcEJqcDZSMW41dGtsSTQlMkZvWmxLdkxWNXlNT1R0TFNLaFl0Z3I2Mk1vYUY1aUl0Tmk1RlRxN0NJdnNLa3I3T1dnSVpkdGJPYXBhYUhobzVnaEpKbnBMS1l1Y1N5ckxTZ2ZvVmZ0N1dkcXF1T2s1bDBrcDklMkZyTHFudk1pN3JiYW1nSWRtdDdPWHNLMlBwYWFGckxHV3ZzYTB4YzYlMkZzYm1vaG8xdXRiQ1BzNiUyQk50YkdSd0wlMkJsenRDOHp0TEJ0cnlwaTVKMXRLJTJCTHRhJTJCTXVyV1Z5TVdxMU5TJTJGMGRUQnVMMm9qcFIzfGVufDB8MHx8fDE3MjM0MDU0MTR8MA&ixlib=rb-4.0.3&q=80&w=1080"
    linkGithub="https://www.google.com/"
    linkPreview="https://www.google.com/"
    >
    <div slot="tools">
      <div class="flex flex-wrap items-center space-x-3">
        <div class="w-6 h-6">
          <React />
        </div>
        <div class="w-6 h-6">
          <Javascript />
        </div>
        <div class="w-8 h-8">
          <Bootstrap />
        </div>
      </div>
    </div>
  </CardProject>

  <CardProject
    title="Aplicacion web"
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a lacus justo. Sed nec tempor liberoisus."
    img="https://images.unsplash.com/photo-1595239244990-b609da3d95f2?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHwxfHxkYXRhJTNBaW1hZ2UlMkZibXAlM0JiYXNlNjQlMkNRazMyQkFBQUFBQUFBRFlBQUFBb0FBQUFDQUFBQUFnQUFBQUJBQmdBQUFBQUFNQUFBQUFUQ3dBQUV3c0FBQUFBQUFBQUFBQUFvWnRhbnBaTm9aTTR0S05KeTd0dzBjV0Z1clYlMkZpcEJqcDZSMW41dGtsSTQlMkZvWmxLdkxWNXlNT1R0TFNLaFl0Z3I2Mk1vYUY1aUl0Tmk1RlRxN0NJdnNLa3I3T1dnSVpkdGJPYXBhYUhobzVnaEpKbnBMS1l1Y1N5ckxTZ2ZvVmZ0N1dkcXF1T2s1bDBrcDklMkZyTHFudk1pN3JiYW1nSWRtdDdPWHNLMlBwYWFGckxHV3ZzYTB4YzYlMkZzYm1vaG8xdXRiQ1BzNiUyQk50YkdSd0wlMkJsenRDOHp0TEJ0cnlwaTVKMXRLJTJCTHRhJTJCTXVyV1Z5TVdxMU5TJTJGMGRUQnVMMm9qcFIzfGVufDB8MHx8fDE3MjM0MDU0MTR8MA&ixlib=rb-4.0.3&q=80&w=1080"
    linkGithub="https://www.google.com/"
    linkPreview="https://www.google.com/"
    >
    <div slot="tools">
      <div class="flex flex-wrap items-center space-x-3">
        <div class="w-6 h-6">
          <React />
        </div>
        <div class="w-6 h-6">
          <Javascript />
        </div>
        <div class="w-8 h-8">
          <Bootstrap />
        </div>
      </div>
    </div>
  </CardProject>
</section>
